amqp==5.0.3
beautifulsoup4==4.9.3
billiard==3.6.3.0
bs4==0.0.1
celery==5.0.5
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
idna==2.10
kombu==5.0.2
lxml==4.6.2
numpy==1.19.5
pandas==1.2.1
prompt-toolkit==3.0.11
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.4
requests==2.25.1
six==1.15.0
soupsieve==2.1
tpqoa==0.0.53
ujson==4.0.1
urllib3==1.26.2
v20==3.0.25.0
vine==5.0.0
wcwidth==0.2.5
